rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return signedIn()
        && firestore.get(
          /databases/(default)/documents/users/$(request.auth.uid)
        ).data.role == 'admin';
    }

    match /learning_materials/{allPaths=**} {
      allow read: if signedIn();
      allow write: if isAdmin();
    }

    match /speaking_records/{userId}/{allPaths=**} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }
  }
}
